@font-face {
    font-family: domain;
    src: url(/assets/font1.ttf);
}

* {
    /* background-color: ; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav i{
    padding: 0 30px;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: #222;
    overflow-x: hidden;
}

#page1 {
    height: 140vh;
    width: 100vw;

    background-color: #C4BCB3;
    position: relative;
    overflow: hidden;
}

#nav {
    height: 110px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}

#nav img {
    height: 29px;
    width: 30%;
}

#nav h5 {
    font-size: 20px;
    font-weight: 100;
    width: 30%;

}

#nav i {
    font-size: 30px;
    width: 30%;
    text-align: right;
}

#elems {
    /* background-color: red; */
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#elem1 {
    width: 30%;
    height: 100%;
    /* background-color: blue; */


}

#elem2 {
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    border-right: 2px solid #727272;
    padding: 20px 60px;
    text-align: center;
    border-left: 2px solid #727272;
}

#elem3 {
    width: 30%;
    height: 100%;
    /* background-color: blue; */
}

#elem1 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}


#image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#elem3 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div:hover img {
    scale: 1.1;
}

#elem1 h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}

#elem1 h4 span {
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}

#elem1 p{
    font-size: 23px;
    font-family: domain;
    font-weight: 100;
    color: #656565;
}

#elem3 h4 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}

#elem3 h4 span {
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}

#elem3 p {
    font-size: 23px;
    font-family: domain;
    font-weight: 100;
    color: #656565;
}

#elem2 h2 {
    font-family: canopee;
    font-size: 75px;
    font-weight: 100;
}

#elem2 h3 {
    font-family: "font1";
    font-size: 45px;
    /* background-color: red; */
    color: #2f2f2f;
    font-weight: 100;
    margin: 20px 0;
}

#elem2 h6 {
    font-family: domain;
    font-size: 20px;
    /* background-color: red; */
    color: #2f2f2f;
    font-weight: 100;
}

#page1 h1 {
    /* width: 90%; */
    font-size: 645px;
    letter-spacing: -23px;
    font-weight: 95;
    font-family: canopee;
    background-color: #1C1C19;
    color: #C4BCB3;
    line-height: 600px;
    border: 1px solid black;
    width: 96%;
    /* margin-right: 2%;  */
    margin-left: 2%;
    /* margin-right: 10%;
    padding-right: 2%; */
}

#page2 {
    height: 170vh;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 30px;
}

#page2-left {
    height: 100%;
    padding-right: 50px;
    width: 40%;
    /* background-color: red; */
    border-right: 0.5px solid #4b4b4b;
}

#page2-left h2 {
    color: #1c1b19;
    padding: 0%;
    font-size: 135px;
    font-family: canopee;
    line-height: 150px;
    font-weight: 80;
    text-align: center;
    letter-spacing: -5px;
}

#page2-left h2 span {
    color: #1c1b19;
    /* padding: 0px 0px; */
    display: block;
    letter-spacing: -2px;
    font-size: 220px;
    /* font-weight: 0; */
    padding-bottom: 30px;
}

#page2-left #img1 {
    height: 50%;
    width: 100%;
    object-fit: cover;
    /* padding-left: 50px; */
}

#page2-left #img2{
    /* height: 50%; */
    width: 100%;
    /* object-fit: cover; */
}


#page2-right {
    /* background-color: rgb(146, 47, 47); */
    height: 100%;
    width: 80%;
    padding-left: 50px;
    /* margin-left: 20px; */
    
}

#page2-right img {
    height: 85vh;
    /* object-fit: cover; */
    width: 100%;
    border: 1px solid #1C1C19;
}

#page2-right h1 {
    font-family: "Canopee";
    font-size: 130px;
    font-weight: 120;
    letter-spacing: -1px;
    padding: 30px 0px;
}
 

#page-3{
    /* height: 40vh; */
    position: relative;
    background-color: #C4BCB3;
    /* display: flex;
    justify-content: space-around;
    text-align: center; */
    /* align-items: center; */
}

#page-3 h1{
    font-size: 525px;
    letter-spacing: -25px;
    font-weight: 100;
    font-family: canopee;
    background-color: #1C1C19;
    color: #C4BCB3;
    margin-left: 2%;
    border: 1px solid black;
    width: fit-content;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 5px;
    line-height: 430px;
    /* margin-right: 2%;  */
    /* line-height: 600px; */
    /* margin-right: 10%;
    padding-right: 2%; */
}

#page-3 img{
    height: 450px;
    position: absolute;
    top: 0;
    right: 40px;
}

#page4{
    height: 110vh;
    background-color: #C4BCB3;
}

#div-left {
    /* background-color: red; */
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    width: 50%;
}